<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <title>Air-Oil Systems</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylevisit.css') }}" >
        <!-- <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" > -->
        
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


        <!-- <script type="text/javascript" src="/sf/prototype/js/prototype.js"></script>
        <script type="text/javascript" src="/sf/prototype/js/builder.js"></script>
        <script type="text/javascript" src="/sf/prototype/js/effects.js"></script> -->
        <!-- <script src="{{ asset('js/jquery.easyPaginate.js') }}"></script> -->
        <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    </head>
        
            {% block body %} {% endblock %}
            
</html>
